<app-dashboard></app-dashboard>
<div class="content-wrapper">
  <br><br><br>
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Editar Gênero</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">Sistema de Gerenciamento de Generos</li>
          </ol>
        </div>
      </div>
    </div>
  </div>
  <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <form class="example-container" [formGroup]="generoForm" (ngSubmit)="updateGenero(generoForm.value)">
              <mat-form-field>
                <input matInput name="nome" placeholder="Nome do Genero" formControlName="nome">
              </mat-form-field>
              <button type="submit" [disabled]="!generoForm.valid" mat-raised-button color="primary" >Editar</button>
            </form>
          </div>
        </div>
      </div>
    </section>
</div>